

.modulo-noticias {
    position: relative;
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .carousel-navigation {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;

  }

  .carousel a {
    z-index: 100;
  }
  
  .carousel-navigation button {
    background-color: #00000050;
    font-weight: bold;
    color: white;
    border: solid 1px black;
    padding: 7px 10px;
    cursor: pointer;
    border-radius: 50%;
    aspect-ratio: 1;
    vertical-align: center;
  }
  
  .prevBtn, .nextBtn {
    z-index: 200;
  }

  .prevBtn {
    visibility: visible;
    margin-left: -17px;
  }

  .nextBtn {
    visibility: visible;
    margin-right: -17px;

  }

  .carousel {

    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    gap: 0;
    scrollbar-width: none; /* Hide the scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide the scrollbar for IE and Edge */
  }
  
  .item {
    position: relative;
    flex: 0 0 50%;
    scroll-snap-align: start;
    width: 100%;
    background-color: black;
  }
  
  .item img {
    opacity: 90%;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .item-text {
    padding-bottom: 0px;
    text-shadow: 2px 2px 2px rgb(29, 28, 28);
    position: absolute;
    bottom: 7px;
    left: 7px;
    right: 0;
    padding: 10px;
    color: #fff;
    font-family: "Futura PT Medium";
  }
  
  .item-title {
    margin: 0 5px;
    font-size: 24px;
    text-align: left; /
  }
  
  .item-subtitle {
    margin: 10px 5px 0px 5px;
    font-size: 18px;
    text-align: left; 
  }
  


  .carousel::-webkit-scrollbar {
    display: none; /* Hide the scrollbar for Chrome, Safari, and Opera */
  }
  


  @media screen and (max-width: 767px) {
    .arte .item {
    flex: 0 0 100%}
    .carousel-navigation button {
      background-color: #00000040;
    }
    }

  
  .aspect-ratio-16-9 .item{
    aspect-ratio: 16/9;
    flex: 0 0 50%;
   }

  .aspect-ratio-1 .item {
      aspect-ratio: 1;
      flex: 0 0 25%;

      }

  .aspect-ratio-9-16 .item{

          aspect-ratio: 9/12;
          flex: 0 0 25%;
          
        }


  @media screen and (max-width: 767px) {
          .aspect-ratio-16-9 .item {
           aspect-ratio: 1; 
          flex: 0 0 auto;}
            
  .aspect-ratio-1 .item {
      aspect-ratio: 16/9;

      flex: 0 0 auto;
      }

  .aspect-ratio-9-16 .item{

      aspect-ratio: 16/9;
      flex: 0 0 auto;
      }
      
  .item-subtitle {
      display: none; /* Hide the subtitle on mobile devices */
      }
      }


 