@font-face {
    font-family: 'Futura PT Medium';
    src: url('fonts/futura-pt/FuturaPTMedium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


@font-face {
    font-family: 'Futura PT Light';
    src: url('fonts/futura-pt/FuturaPTLight.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  

  

body {
    background-color: hsl(34, 13%, 44%);
    font-family: 'Futura PT Medium', sans-serif;
    margin: 0;
    padding: 0px;
}


nav{
    position: fixed;
    z-index: 998;
    background-color: hsl(34, 13%, 39%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    }

nav .logo {
    margin-left: 1em;
    height: 35px;
    }
nav .top-menu {
    display: flex;
    justify-content:space-between;
    font-size: 1.2rem;
    list-style: none;
}

@media (orientation:portrait) {
    nav  .top-menu {
        display:none;
    }
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    margin: 10px;
}
nav a:hover {
    font-weight: bold;
}


.radio {
    cursor: pointer;
    z-index: 999;
    border-radius: 15px;
    background-color: black;
    color: white;
    font-size: .8rem;
    border: none;
    margin-right: 1em;
    padding-top: 3px;
    padding-bottom: 3px;
}

video {
    width: 100%;
    margin-top: 75px;
}

  
.modulo-noticias > h2 {
        text-shadow: 1px 1px 2px black;
        color: white;
        text-transform: uppercase;
        font-size: 1.5rem;
     }


.mono > img{
    display: block;
    width: 90%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.noticielo {
    margin-bottom: 30px;
}

footer {

    z-index: 998;
    height: 50px;
    background-color: #1e1e1e;
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    height: 75px;
    align-items: center;

}


footer ul {
    border: 0px;
    display: flex;
    justify-content: space-evenly
}


footer li {

    list-style: none;
}
footer a {

    color: white;
    border: 0px;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;

}

footer p {
    margin-left: 1ch;
}




img:hover {
    opacity: 80% !important
      }

        

