body {
    background-color: #7e7262;
}

.news-container {

    display: grid;
    row-gap: 0px;
    column-gap: 0px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}


.card > img {
    background-color: whitesmoke;
    width: 100%;
    aspect-ratio: 1;
    display: inline-block;
}

a{
    text-decoration: none;
    color: black

}


.card {
    position: relative;
    margin: 0px 0px;
    width: 100%;
    background-color: #7e7262; /* Better color for card background */
}




.card > h2 {
        bottom: 1%;
        position: absolute;
        margin-left: 1ch;
        text-shadow: 2px 2px 2px rgb(29, 28, 28);
        color: #fff;
        font-family: "Futura PT Medium";
      }


.card h3 {
    display: none;
}
