@font-face {
    font-family: "FuturaPTMedium";
    src: url(/fonts/futura-pt/FuturaPTMedium.otf);
}

body {
    background-color: rgb(126, 114, 98) ;
    margin: 0;
    font-family: FuturaPTMedium, Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin: 0px
}

.banner {
    width: 100%;
}

h1 {
    max-width: 95%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h2{
    max-width: 95%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.ilustracion {
    max-width: 75%;

    display: block;
    margin-left: auto;
    margin-right: auto; 

}

p, ul {
    width: 75%;

    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    line-height:1.2;
    list-style-position: inside;

}

ol {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    line-height:1.2;
    list-style-position: inside;
}

@media (max-width: 767px) {
    
    h1, h2 {
        font-size: inherit; 
    }

}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.videos {
    height: 100vh;
    width: 100%;
    margin: 0 auto;

}